<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category_badge.name %>
</p>


<%= link_to 'Edit', edit_category_badge_path(@category_badge) %> |
<%= link_to 'Back', category_badges_path %>
