.search_page {
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-bottom: 50px;

  table.user_list {
    background-color: #fff;
  }

  .condition {
    margin-bottom: 20px;
  }
}